Source: ros-hydro-sr-ethercat-hand-config
Section: misc
Priority: extra
Maintainer: Shadow Robot's software team <software@shadowrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/sr_ethercat_hand_config
Standards-Version: 3.9.2

Package: ros-hydro-sr-ethercat-hand-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: sr_ethercat_hand_config contains the different yaml files storing the parameters used on the etherCAT hand.
